# Data Base
DATABASE_URL=

# API Configuration (Valores padrão não sensíveis podem ficar preenchidos)
API_V1_STR=/api/v1  
PROJECT_NAME="V-Commerce CRM 360 - Compila e Chuta"

# Security (Autentication JWT)
SECRET_KEY=
# Tempo padrão de expiração do token (1 dia)
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Artificial Intelligence / LLM
GEMINI_API_KEY=