.avatar {
  height: var(--height-44);
  width: 44px;
  display: flex;
  align-items: flex-end;
  padding: var(--padding-5) 7px var(--padding-6);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  text-align: left;
  font-size: var(--fs-22);
  color: var(--brand-deep-blue);
  font-family: var(--font-figtree);
}
.avatarLargeicondefault {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
  flex-shrink: 0;
}
.aa,
.avatarChild {
  position: relative;
  flex-shrink: 0;
}
.aa {
  height: 33px;
  width: var(--width-30);
  line-height: 150%;
  display: flex;
  align-items: center;
  z-index: 2;
}
.avatarChild {
  margin-bottom: -9.7px;
  height: 14.7px;
  width: 14.7px;
  border-radius: 50%;
  background-color: var(--state-success);
  border: 0 solid var(--light5);
  box-sizing: border-box;
  z-index: 3;
  margin-left: -7.6px;
}
