.buttonContent,
.buttonLarge {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonLarge {
  height: var(--height-46);
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-30);
  background: var(--gradient-1);
  overflow: hidden;
  padding: var(--padding-12);
  box-sizing: border-box;
  z-index: 0;
  text-align: left;
  font-size: var(--fs-22);
  color: var(--light4);
  font-family: var(--font-neue-haas-grotesk-display-pro);
}
.buttonContent {
  flex-shrink: 0;
}
.large {
  position: relative;
}
