.component7 {
  width: 1512px;
  height: var(--height-100);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-26) 63.9px 22.1px var(--padding-64);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  z-index: 2;
}
.component7Child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  z-index: 0;
  flex-shrink: 0;
}
