.component7Inner {
  height: 51.9px;
  width: 1384.1px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  z-index: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--dark3);
  font-family: var(--font-neue-haas-grotesk-display-pro);
}
.frameGroup,
.frameParent {
  display: flex;
  align-items: center;
}
.frameParent {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 692.25px);
  gap: 137px;
  z-index: 0;
}
.frameGroup {
  gap: 31px;
}
.unionWrapper {
  width: 60.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10);
  box-sizing: border-box;
}
.unionIcon {
  width: 40.9px;
  position: relative;
  max-height: 100%;
}
.frameContainer,
.searchParent {
  display: flex;
  align-items: center;
  gap: var(--gap-10);
}
.searchParent {
  height: var(--height-44);
  width: 429px;
  border-radius: var(--br-30);
  background-color: var(--light4);
  align-items: flex-start;
  padding: var(--padding-12) 310px var(--padding-12) var(--padding-12);
  box-sizing: border-box;
}
.searchIcon {
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
  flex-shrink: 0;
}
.arrowUpCircleIcon {
  width: var(--width-20);
  max-height: 100%;
  display: none;
}
.arrowUpCircleIcon,
.pesquiseNaPlataforma {
  position: relative;
  flex-shrink: 0;
}
.notfificationWrapper {
  display: flex;
  align-items: center;
  padding: var(--padding-10);
}
.notfificationIcon {
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.avatarWrapper {
  display: flex;
  align-items: center;
}
