.containerParent {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 21px;
  text-align: left;
  font-size: var(--fs-12);
  color: var(--state-success);
  font-family: var(--font-neue-haas-grotesk-display-pro);
}
.container {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-30);
  background-color: var(--light5);
  flex-direction: column;
  padding: var(--padding-24);
  gap: var(--gap-10);
}
.container,
.container2,
.divflex {
  display: flex;
  align-items: flex-start;
}
.container2 {
  width: var(--width-194);
  flex-direction: column;
  gap: var(--gap-24);
}
.divflex {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.iconFilledType1 {
  border-radius: var(--br-15);
  background-color: var(--brand-cian-blue);
  display: flex;
  align-items: center;
  padding: var(--padding-8);
}
.icon {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.container3 {
  border-radius: var(--br-30);
  background-color: var(--color-mediumseagreen);
  padding: var(--padding-3) var(--padding-6);
  gap: var(--gap-2);
}
.container3,
.container4 {
  display: flex;
  align-items: center;
}
.arrowIcon {
  height: var(--height-12);
  width: var(--width-12);
  position: relative;
}
.container5,
.percentageText {
  display: flex;
  align-items: center;
}
.container5 {
  justify-content: center;
}
.percentageText {
  width: var(--width-102);
  position: relative;
  flex-shrink: 0;
}
.container6,
.divmt6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container6 {
  align-self: stretch;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.divmt6 {
  gap: var(--item-spacing-xxs);
}
.divmt6,
.ptextSm,
.title {
  align-self: stretch;
}
.ptextSm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  position: relative;
}
.pfontDisplay {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-36);
  color: var(--brand-dark-blue);
}
.value {
  width: var(--width-193);
  position: relative;
  display: flex;
  align-items: center;
}
.container7,
.ptextXs {
  display: flex;
  align-items: flex-start;
}
.ptextXs {
  width: var(--width-193);
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.container7 {
  align-self: stretch;
}
.arrowIcon2,
.linkText {
  position: relative;
  flex-shrink: 0;
}
.arrowIcon2 {
  width: var(--width-22);
  max-height: 100%;
}
.linkText {
  width: var(--width-206);
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.container8 {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-30);
  background-color: var(--light5);
  flex-direction: column;
  padding: var(--padding-24);
  gap: var(--gap-10);
  color: var(--state-error);
}
.container8,
.container9,
.divflex2 {
  display: flex;
  align-items: flex-start;
}
.container9 {
  width: var(--width-194);
  flex-direction: column;
  gap: var(--gap-24);
}
.divflex2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.iconFilledType12 {
  border-radius: var(--br-15);
  background-color: var(--brand-dark-blue);
  display: flex;
  align-items: center;
  padding: var(--padding-8);
}
.icon2 {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.container10 {
  border-radius: var(--br-30);
  background-color: var(--color-tomato-300);
  padding: var(--padding-3) var(--padding-6);
  gap: var(--gap-2);
}
.container10,
.container11 {
  display: flex;
  align-items: center;
}
.arrowIcon3 {
  height: var(--height-12);
  width: var(--width-12);
  position: relative;
}
.container12,
.percentageText2 {
  display: flex;
  align-items: center;
}
.container12 {
  justify-content: center;
}
.percentageText2 {
  width: 98px;
  position: relative;
  flex-shrink: 0;
}
.container13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.divmt62 {
  gap: var(--item-spacing-xxs);
}
.divmt62,
.ptextSm2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title2 {
  align-self: stretch;
  position: relative;
}
.pfontDisplay2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-36);
  color: var(--brand-dark-blue);
}
.value2 {
  width: var(--width-193);
  position: relative;
  display: flex;
  align-items: center;
}
.container14,
.ptextXs2 {
  display: flex;
  align-items: flex-start;
}
.ptextXs2 {
  width: var(--width-193);
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.container14 {
  align-self: stretch;
}
.arrowIcon4,
.linkText2 {
  position: relative;
  flex-shrink: 0;
}
.arrowIcon4 {
  width: var(--width-22);
  max-height: 100%;
}
.linkText2 {
  width: var(--width-206);
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.container15 {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-30);
  background-color: var(--light5);
  flex-direction: column;
  padding: var(--padding-24);
  gap: var(--gap-10);
}
.container15,
.container16,
.divflex3 {
  display: flex;
  align-items: flex-start;
}
.container16 {
  width: var(--width-194);
  flex-direction: column;
  gap: var(--gap-24);
}
.divflex3 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.iconFilledType13 {
  border-radius: var(--br-15);
  background-color: var(--brand-deep-blue);
  display: flex;
  align-items: center;
  padding: var(--padding-8);
}
.icon3 {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.container17 {
  border-radius: var(--br-30);
  background-color: var(--color-mediumseagreen);
  padding: var(--padding-3) var(--padding-6);
  gap: var(--gap-2);
}
.container17,
.container18 {
  display: flex;
  align-items: center;
}
.arrowIcon5 {
  height: var(--height-12);
  width: var(--width-12);
  position: relative;
}
.container19,
.percentageText3 {
  display: flex;
  align-items: center;
}
.container19 {
  justify-content: center;
}
.percentageText3 {
  width: var(--width-102);
  position: relative;
  flex-shrink: 0;
}
.container20 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.divmt63 {
  gap: var(--item-spacing-xxs);
}
.divmt63,
.ptextSm3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title3 {
  align-self: stretch;
  position: relative;
}
.pfontDisplay3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-36);
  color: var(--brand-dark-blue);
}
.value3 {
  width: var(--width-193);
  position: relative;
  display: flex;
  align-items: center;
}
.container21,
.ptextXs3 {
  display: flex;
  align-items: flex-start;
}
.ptextXs3 {
  width: var(--width-193);
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.container21 {
  align-self: stretch;
}
.arrowIcon6,
.linkText3 {
  position: relative;
  flex-shrink: 0;
}
.arrowIcon6 {
  width: var(--width-22);
  max-height: 100%;
}
.linkText3 {
  width: var(--width-206);
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.container22 {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-30);
  background-color: var(--light5);
  flex-direction: column;
  padding: var(--padding-24);
  gap: var(--gap-10);
}
.container22,
.container23,
.divflex4 {
  display: flex;
  align-items: flex-start;
}
.container23 {
  width: var(--width-194);
  flex-direction: column;
  gap: var(--gap-24);
}
.divflex4 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.iconFilledType14 {
  border-radius: var(--br-15);
  background-color: var(--brand-sky-blue);
  display: flex;
  align-items: center;
  padding: var(--padding-8);
}
.icon4 {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.container24 {
  border-radius: var(--br-30);
  background-color: var(--color-mediumseagreen);
  padding: var(--padding-3) var(--padding-6);
  gap: var(--gap-2);
}
.container24,
.container25 {
  display: flex;
  align-items: center;
}
.arrowIcon7 {
  height: var(--height-12);
  width: var(--width-12);
  position: relative;
}
.container26,
.percentageText4 {
  display: flex;
  align-items: center;
}
.container26 {
  justify-content: center;
}
.percentageText4 {
  width: var(--width-102);
  position: relative;
  flex-shrink: 0;
}
.container27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.divmt64 {
  gap: var(--item-spacing-xxs);
}
.divmt64,
.ptextSm4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title4 {
  align-self: stretch;
  position: relative;
}
.pfontDisplay4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-36);
  color: var(--brand-dark-blue);
}
.value4 {
  width: var(--width-193);
  position: relative;
  display: flex;
  align-items: center;
}
.container28,
.ptextXs4 {
  display: flex;
  align-items: flex-start;
}
.ptextXs4 {
  width: var(--width-193);
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.container28 {
  align-self: stretch;
}
.arrowIcon8,
.linkText4 {
  position: relative;
  flex-shrink: 0;
}
.arrowIcon8 {
  width: var(--width-22);
  max-height: 100%;
}
.linkText4 {
  width: var(--width-206);
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.container29 {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-30);
  background-color: var(--light5);
  flex-direction: column;
  padding: var(--padding-24);
  gap: var(--gap-10);
}
.container29,
.container30,
.divflex5 {
  display: flex;
  align-items: flex-start;
}
.container30 {
  width: var(--width-194);
  flex-direction: column;
  gap: var(--gap-24);
}
.divflex5 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.iconFilledType15 {
  border-radius: var(--br-15);
  background-color: var(--brand-cian-blue);
  display: flex;
  align-items: center;
  padding: var(--padding-8);
}
.icon5 {
  width: var(--width-20);
  position: relative;
  max-height: 100%;
}
.container31 {
  border-radius: var(--br-30);
  background-color: var(--color-mediumseagreen);
  padding: var(--padding-3) var(--padding-6);
  gap: var(--gap-2);
}
.container31,
.container32 {
  display: flex;
  align-items: center;
}
.arrowIcon9 {
  height: var(--height-12);
  width: var(--width-12);
  position: relative;
}
.container33,
.percentageText5 {
  display: flex;
  align-items: center;
}
.container33 {
  justify-content: center;
}
.percentageText5 {
  width: var(--width-102);
  position: relative;
  flex-shrink: 0;
}
.container34 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.divmt65 {
  gap: var(--item-spacing-xxs);
}
.divmt65,
.ptextSm5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title5 {
  align-self: stretch;
  position: relative;
}
.pfontDisplay5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-36);
  color: var(--brand-dark-blue);
}
.value5 {
  width: var(--width-193);
  position: relative;
  display: flex;
  align-items: center;
}
.container35,
.ptextXs5 {
  display: flex;
  align-items: flex-start;
}
.ptextXs5 {
  width: var(--width-193);
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--dark2);
}
.container35 {
  align-self: stretch;
}
.arrowIcon10,
.linkText5 {
  position: relative;
  flex-shrink: 0;
}
.arrowIcon10 {
  width: var(--width-22);
  max-height: 100%;
}
.linkText5 {
  width: var(--width-206);
  text-decoration: underline;
  display: flex;
  align-items: center;
}
