@import url("https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk+Display+Pro:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Figma Variables */

  /* Spacing */
  --font-size-12: 12px;
  --font-weight-400: 400;
  --height-260: 260px;
  --item-spacing-xs: 8px;
  --item-spacing-xxs: 4px;
  --item-spacing-xxs1: 4px;
  --line-height-16: 16px;
  --line-height-24: 24px;
  --line-height-32: 32px;
  --opacity-100: 1;
  --width-886: 886px;

  /* Color */
  --brand-cian-blue: #ade9ff;
  --brand-cian-shade-blue: #e3edff;
  --brand-dark-blue: #020854;
  --brand-deep-blue: #0070db;
  --brand-sky-blue: #08bffd;
  --dark2: #6b7588;
  --dark3: #8f90a6;
  --light4: #fafafc;
  --light5: #fff;
  --state-error: #ff3b3b;
  --state-info: #0063f7;
  --state-success: #06c270;
  --state-warning: #ffcc00;

  /* Font */
  --font-family-Font-1: Inter;
  --font-family-Font-3: Space Grotesk;

  /* Common Style Variables */

  /* Color */
  --color-darkslategray: #3a3a3c;
  --color-gold: rgba(255, 204, 0, 0.3);
  --color-lightsteelblue: rgba(199, 201, 217, 0.3);
  --color-mediumseagreen: rgba(6, 194, 112, 0.1);
  --color-midnightblue: #020255;
  --color-royalblue: rgba(0, 112, 219, 0.3);
  --color-tomato-100: rgba(255, 59, 59, 0.3);
  --color-tomato-200: rgba(255, 59, 59, 0.15);
  --color-tomato-300: rgba(255, 59, 59, 0.1);

  /* Gap */
  --gap-2: 2px;
  --gap-4: 4px;
  --gap-5: 5px;
  --gap-10: 10px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-30: 30px;

  /* Padding */
  --padding-0: 0px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-24: 24px;
  --padding-26: 26px;
  --padding-64: 64px;

  /* BorderRadius */
  --br-15: 15px;
  --br-16: 16px;
  --br-30: 30px;

  /* Font */
  --font-figtree: Figtree;
  --font-neue-haas-grotesk-display-pro: Neue Haas Grotesk Display Pro;

  /* FontSize */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-36: 36px;

  /* Shadows */
  --shadow-drop: 0px 4px 24px -8px rgba(2, 2, 85, 0.08);

  /* Gradients */
  --gradient-1: linear-gradient(
    90deg,
    var(--brand-dark-blue),
    var(--brand-deep-blue) 50%,
    var(--brand-sky-blue)
  );

  /* WidthHeights */
  --height-8: 8px;
  --height-12: 12px;
  --height-14: 14px;
  --height-19: 19px;
  --height-20: 20px;
  --height-22: 22px;
  --height-24: 24px;
  --height-28: 28px;
  --height-40: 40px;
  --height-44: 44px;
  --height-46: 46px;
  --height-48: 48px;
  --height-100: 100px;
  --width-8: 8px;
  --width-12: 12px;
  --width-20: 20px;
  --width-22: 22px;
  --width-24: 24px;
  --width-28: 28px;
  --width-30: 30px;
  --width-102: 102px;
  --width-105: 105px;
  --width-121: 121px;
  --width-144: 144px;
  --width-193: 193px;
  --width-194: 194px;
  --width-206: 206px;
  --width-941: 941px;

  /* LineHeights */
  --lh-26: 26px;

  --left-0: 0px;
  --top-0: 0px;
  --top-2: 2px;
}
